.review-text-ellipsis {
  display: -webkit-box;       
  min-height: 70px;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;            
  text-overflow: ellipsis;      
  word-break: break-word;
}
