@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquare";
  src: url("../public/fonts/NanumSquareB.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../public/fonts/NanumSquareEB.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../public/fonts/NanumSquareL.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../public/fonts/NanumSquareR.otf") format("opentype");
  font-weight: 400;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: NanumSquare, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}